

    <h1>Welcome to Dcard</h1>
   	<div >

   		<table >
   			<thead>
   				<tr>
   					<td>title</td>
   					<td>createat</td>
   					<td>gender</td>
   				</tr>
   			</thead>
   			<tbody ng-repeat= "info in firstpage">
   				<tr >
   					<td>{{info.version[0].title}}</td>
   					<td>{{info.createdAt}}</td>
   					<td>{{info.member.gender}}</td>
   					
   					
   				</tr>
   			</tbody>	

   		</table>
   		

   	</div>
   	<div>
   			<button ng-click="next()">next</button>

   	</div>
