
    <h1>Welcome to Reddit</h1>
   	<div >
         
   		<table >
   			<thead>
   				<tr>
   					<td>title</td>
   					<td>createat</td>
   					
   				</tr>
   			</thead>
   			<tbody ng-repeat= "info in firstpage">
   				<tr >
   					<td>{{info.data.title}}</td>
   					<td>{{info.data.created_utc}}</td>
   				</tr>
   			</tbody>	

   		</table>
   		

   	</div>
      <div>Next page is {{after}}</div>
   	<div>
   			<button ng-click="next()">next</button>

   	</div>
  