<!DOCTYPE html>
<html ng-app = "myapp">
  <head>
    <title><%= title %></title>
    <link rel='stylesheet' href='/stylesheets/style.css' />
    <script src="//ajax.googleapis.com/ajax/libs/angularjs/1.1.5/angular.min.js"></script>
    <script type="text/javascript" src="./javascripts/angular-ui-router.js"></script> 
    <script type="text/javascript" src="./javascripts/routeapp.js"></script>

    <script type="text/javascript" src="./javascripts/redditapp.js"></script>
    <script type="text/javascript" src="./javascripts/dcardapp.js"></script>


  </head>
  <body>
    <h1>This is a Dcard and Reddit Scraper</h1>
    <p>Welcome to <%= title %></p>
    <span><a ui-sref="dcard" >Dcard</a></span>
    <span><a ui-sref="reddit" >Reddit</a></span>
    <span><a ui-sref="index">index</a></span>
    <div ui-view></div>  
  </body>
</html>
