<!DOCTYPE html>
<html>
  <head>
    <title><%= title %></title>
    <link rel='stylesheet' href='/stylesheets/style.css' />
  </head>
  <body>
    <h1>This is a Dcard and Reddit Scraper</h1>
    <p>Welcome to <%= title %></p>
    <a href="/dcard">Dcard</a>
    <a href="/reddit">Reddit</a>
  </body>
</html>
